:root {
  --color-primary: #258EAE;
  --color-secondary: #2DD349;
  --color-tertiary: #A5F5F1;
  --color-grey-1: #766F6F;
  --color-grey-2: #BABABA;
  --color-grey-3: #EFE2E1;
  --color-grey-4: #FBFBFB; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  line-height: 1.6;
  font-size: 1.6rem;
  font-family: sans-serif;
  color: var(--color-grey-1); }

.container {
  display: grid;
  grid-template-columns: 40vw 60vw; }

.btn {
  background-color: var(--color-secondary);
  padding: 1rem;
  border-radius: 11rem;
  border: none;
  color: #FFF; }

.heading-2 {
  font-size: 4rem; }

.header {
  background-color: var(--color-primary);
  color: #FFF;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }
  .header__heading-1 {
    text-transform: uppercase;
    line-height: 1.6;
    font-size: 5rem; }
    .header__heading-1 span {
      color: var(--color-tertiary);
      font-weight: 400; }
  .header__heading-sub {
    margin-top: -2rem;
    font-size: 3rem; }
  .header__motto {
    font-size: 4rem;
    font-weight: 300;
    margin-top: 14rem;
    align-self: center; }
  .header__btn {
    margin-top: 6rem;
    font-size: 3rem;
    padding: 1.5rem 4rem; }
  .header__phone-number {
    font-size: 2rem;
    margin-top: 2rem; }
  .header__icon {
    height: 2rem;
    width: 2rem;
    fill: currentColor; }

.slide-show {
  background-image: url(../img/doc.jpg);
  background-size: cover;
  overflow: hidden; }

.search {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  .search__form {
    height: 30rem;
    width: 75%;
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column; }
  .search__group {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column-reverse; }
  .search__label {
    font-size: 1.2rem;
    font-weight: 700;
    display: block;
    margin-left: 2rem;
    transition: all .3s; }
  .search__input {
    font-size: 1.6rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border: solid 1px var(--color-grey-1);
    border-radius: 3px;
    width: 100%;
    display: block; }
    .search__input:focus {
      outline: none;
      box-shadow: 0 1rem 3rem var(--color-grey-2);
      border-bottom: 1px solid var(--color-primary); }
    .search__input::placeholder {
      color: #999; }
  .search__input:placeholder-shown + .search__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(3rem); }
  .search__btn {
    align-self: center;
    font-size: inherit;
    padding: 1rem 3rem; }

.benefits {
  background-color: var(--color-grey-4);
  padding: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5rem; }
  .benefits__content-box {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .benefits__content-box > * {
      margin-top: 2rem; }
  .benefits__heading-2 {
    grid-column: 1 / -1;
    display: flex; }
    .benefits__heading-2::after {
      content: "";
      height: 1rem;
      display: inline-block;
      background-color: var(--color-grey-3);
      width: 100%;
      align-self: center;
      margin-left: 3rem;
      margin-bottom: -1rem; }
  .benefits__icon {
    height: 5rem;
    width: 5rem;
    fill: var(--color-primary); }
