.header {
    background-color: var(--color-primary);
    color: #FFF;
    padding: 2rem 3rem;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &__heading-1 {
        text-transform: uppercase;
        line-height: 1.6;
        font-size: 5rem;

        span {
            color: var(--color-tertiary);
            font-weight: 400;
        }
    }

    &__heading-sub {
        margin-top: -2rem;
        font-size: 3rem;
    }

    &__motto {
        font-size: 4rem;
        font-weight: 300;
        margin-top: 14rem;
        align-self: center;
    }

    &__btn {
        margin-top: 6rem;
        font-size: 3rem;
        padding: 1.5rem 4rem;
    }

    &__phone-number {
        font-size: 2rem;
        margin-top: 2rem;
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: currentColor;
    }
}
